* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wapper {
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
    background-color: rgb(16, 65, 133);
    color: black;
    font-size: 25px;
    padding: 20px;
}

#search form {
    display: flex;
    align-items: center;
}

#search form input,
#search form button {
    font-size: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 10px;
}

#results {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#results .movie {
    height: 400px;
    width: 300px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgb(198, 193, 193);
}

#results .movie img {
    width: 100%;
    height: 100%;
}